<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" data-loading-text="{{text_loading }}" />
  </div>  
</div>
<script type="text/javascript">
$('#button-confirm').on('click', function() {
    window.location.href = 'http://198.38.86.180/~neumaticosverona/index.php?route=extension/payment/nps/form';
});

</script>
